
h1 {
  margin: 20px auto;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(204, 0, 0);
  text-align: center;
  letter-spacing: 5px;
 
}




html {
    height: 100%;
  }
  body {
    min-height: 100%;
    
    


  }

  .login-box {
    border-width: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 100;
    width: 90%;
    max-width: 700px;
    margin: auto;

    border-radius: 6px;
    background-color: white;
}
.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .btn {
  width: ;
} */